---
import {BaseService} from "@services/base.service";
import {IGenericWpObject} from "@models/general";
import Layout from "@layouts/default.astro";
interface Props {
    item: IGenericWpObject;
}

export async function getStaticPaths() {
    const items = await new BaseService().load('listing');
    let all = [];

    for (let idx = 0; idx < items.length; idx++) {
        all.push({
            params: {
                slug: items[idx].slug
            },
            props: {
                item: items[idx]
            }
        });
    }

    return all;
}

const {item}: Props = Astro.props;
const service = new BaseService();

const seo = {
    title: item?.yoast_head_json?.title || item.title.rendered,
    description: item?.yoast_head_json?.description || item.title.rendered,
}
---
<Layout {seo}>

    <section class="relative table w-full py-20 lg:py-24 bg-gray-50 dark:bg-slate-800">
        <div class="container relative">
            <div class="grid grid-cols-1 mt-14">
                <h3 class="text-3xl leading-normal font-semibold">
                    {item.title.rendered}
                    / Item Detail</h3>
            </div><!--end grid-->

            <div class="relative mt-3">
                <ul class="tracking-[0.5px] mb-0 inline-block">
                    <li class="inline-block uppercase text-[13px] font-bold duration-500 ease-in-out hover:text-indigo-600"><a href="index-shop.html">Techwind</a></li>
                    <li class="inline-block text-base text-slate-950 dark:text-white mx-0.5 ltr:rotate-0 rtl:rotate-180"><i class="uil uil-angle-right-b"></i></li>
                    <li class="inline-block uppercase text-[13px] font-bold text-indigo-600" aria-current="page">Item Detail</li>
                </ul>
            </div>
        </div><!--end container-->
    </section><!--end section-->

    <div class="max-w-7xl mx-auto w-full">
        <div class="my-4 px-4 md:px-0">
            <h1 class=" font-sans font-light text-5xl ltablet:text-5xl lg:text-5xl leading-none mb-2 text-muted-800 dark:text-white">
                {item.title.rendered}
            </h1>
        </div>
    </div>
</Layout>
