---
import {BaseService} from "@services/base.service";
import Pagination from "@components/pagination.svelte";
import {IWpGenericTaxonomy} from "@models/general";
import {arrayPaginator, IArrayPaginator} from "@helpers/paginate-array";
import {IGenericWpObject} from "@models/general";
import Layout from "@layouts/default.astro";
import Table from '@components/certified-techs-table.astro';
import {cloudinaryRawSettings} from "@helpers/cloudinary.helper";
import ImgContainer from '@components/header-with-rounded-image.astro';
import Container from '@components/container-with-shadow.astro';

export async function getStaticPaths() {
    const per_page = 12;
    const service = new BaseService();

    const allItems = await service.load(`tech`);

    const firstPage = arrayPaginator<IGenericWpObject>(allItems, 1, per_page);
    const all = [];

    for (let idx = 0; idx < firstPage.totalPages; idx++) {
        const paginated = arrayPaginator<IGenericWpObject>(allItems, idx+1, per_page);
        all.push({
            params: {
                page: idx === 0 ? undefined : (idx + 1).toString(),
            },
            props: {
                items: paginated.data,
                paginated,
            }
        });
    }

    return all;
}

const {items, paginated}: { items: IGenericWpObject[], paginated: IArrayPaginator<IGenericWpObject> } = Astro.props;
const page = await new BaseService().getPostObjectByProperty('page', 'acf.template.slug','certified-techs') as IGenericWpObject;
const seo = {
    title: page.yoast_head_json.title,
    description: page.yoast_head_json.description,
}


---
<Layout {seo}>

    <ImgContainer>
        <Fragment slot="title">{page.title.rendered}</Fragment>
        <span slot="image">
            <img
                    src={cloudinaryRawSettings(page?.featured_media?.source_url, 'c_limit,h_750,q_auto:best,w_1920/f_webp/dpr_auto')}
                    srcset={`
                       ${cloudinaryRawSettings(page?.featured_media?.source_url, 'c_limit,h_350,w_800/q_auto:best/dpr_auto/f_webp')} 800w,
                       ${cloudinaryRawSettings(page?.featured_media?.source_url, 'c_limit,h_550,w_1024/q_auto:best/dpr_auto/f_webp')} 1024w,
                       ${cloudinaryRawSettings(page?.featured_media?.source_url, 'c_limit,h_750,q_auto:best,w_1920/f_webp/dpr_auto')} 1920w
                       `}
                    sizes="(max-width: 1920px) 100vw, 1920px"
                    alt={page?.featured_media?.alt_text || page.title.rendered}
                    title={page?.featured_media?.title?.rendered ||page.title.rendered}
                    width="1920" height="750"
                    class="absolute inset-0 -z-10 h-full w-full object-cover">
    </span>
        {page.acf.short_description && (
                <span slot="description">{page.acf.short_description}</span>
        )}

    </ImgContainer>
    <Container>
    <Table items={paginated.data} />

        <Pagination
                totalPages={paginated.totalPages}
                baseURL={`/certified`}
                currentPage={paginated.currentPage}
                client:idle
                previousText="Προηγούμενο"
                nextText="Επόμενο"
        />
    </Container>

</Layout>
