---
import {BaseService} from "@services/base.service";
import Pagination from "@components/pagination.svelte";
import {IWpGenericTaxonomy} from "@models/general";
import {arrayPaginator, IArrayPaginator} from "@helpers/paginate-array";
import {IGenericWpObject} from "@models/general";
import Layout from "@layouts/default.astro";

export async function getStaticPaths() {
    const per_page = 12;
    const service = new BaseService();

    const allItems = await service.load(`article`);

    const firstPage = arrayPaginator<IGenericWpObject>(allItems, 1, per_page);
    const all = [];

    for (let idx = 0; idx < firstPage.totalPages; idx++) {
        const paginated = arrayPaginator<IGenericWpObject>(allItems, idx+1, per_page);
        all.push({
            params: {
                page: idx === 0 ? undefined : (idx + 1).toString(),
            },
            props: {
                items: paginated.data,
                paginated,
            }
        });
    }

    return all;
}

const {items, paginated}: { items: IGenericWpObject[], paginated: IArrayPaginator<IGenericWpObject> } = Astro.props;
const seo = await new BaseService().getSectionSeo('article');
---
<Layout {seo}>
    {paginated.data.map((item) => (
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="card-body">
                        <a href={`/article/${item.slug}`} class="card-title">{item.title.rendered}</a>
                    </div>
                </div>
            </div>
    ))}
</Layout>
