---
import {BaseService} from "@services/base.service";
import Pagination from "@components/pagination.svelte";
import {IWpGenericTaxonomy} from "@models/general";
import {arrayPaginator, IArrayPaginator} from "@helpers/paginate-array";
import {IGenericWpObject} from "@models/general";
import Layout from "@layouts/default.astro";
import Container from "../../components/container-with-shadow.astro";
import {cloudinaryRawSettings} from "../../helpers/cloudinary.helper";

export async function getStaticPaths() {
    const per_page = 12;
    const service = new BaseService();

    const allItems = await service.load(`article`);

    const firstPage = arrayPaginator<IGenericWpObject>(allItems, 1, per_page);
    const all = [];

    for (let idx = 0; idx < firstPage.totalPages; idx++) {
        const paginated = arrayPaginator<IGenericWpObject>(allItems, idx+1, per_page);
        all.push({
            params: {
                page: idx === 0 ? undefined : (idx + 1).toString(),
            },
            props: {
                items: paginated.data,
                paginated,
            }
        });
    }

    return all;
}

const {items, paginated}: { items: IGenericWpObject[], paginated: IArrayPaginator<IGenericWpObject> } = Astro.props;

const page = await new BaseService().getPostObjectByProperty('page', 'acf.template.slug','articles') as IGenericWpObject;
const seo = {
    title: page.yoast_head_json.title,
    description: page.yoast_head_json.description,
}
---
<Layout {seo}>
    <div class="relative isolate overflow-hidden bg-gray-900 px-6 py-24 sm:py-32 lg:px-8">
        {page.featured_media && (
                <img
                        src={cloudinaryRawSettings(page?.featured_media?.source_url, 'c_limit,h_750,q_auto:best,w_1920/f_webp/dpr_auto')}
                        srcset={`
                                   ${cloudinaryRawSettings(page?.featured_media?.source_url, 'c_limit,h_350,w_800/q_auto:best/dpr_auto/f_webp')} 800w,
                                   ${cloudinaryRawSettings(page?.featured_media?.source_url, 'c_limit,h_550,w_1024/q_auto:best/dpr_auto/f_webp')} 1024w,
                                   ${cloudinaryRawSettings(page?.featured_media?.source_url, 'c_limit,h_750,q_auto:best,w_1920/f_webp/dpr_auto')} 1920w
                                   `}
                        sizes="(max-width: 1920px) 100vw, 1920px"
                        alt={page?.featured_media?.alt_text || page.title.rendered}
                        title={page?.featured_media?.title?.rendered ||page.title.rendered}
                        width="1920" height="750"
                        class="absolute inset-0 -z-10 h-full w-full object-cover">
        )}
        <div class="hidden sm:absolute sm:-top-10 sm:right-1/2 sm:-z-10 sm:mr-10 sm:block sm:transform-gpu sm:blur-3xl" aria-hidden="true">
            <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-20" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
        </div>
        <div class="absolute -top-52 left-1/2 -z-10 -translate-x-1/2 transform-gpu blur-3xl sm:top-[-28rem] sm:ml-16 sm:translate-x-0 sm:transform-gpu" aria-hidden="true">
            <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-20" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
        </div>
        <div class="mx-auto max-w-2xl text-center">
            <h2 class="text-4xl font-bold tracking-tight text-white sm:text-6xl">{page.title.rendered}</h2>
        </div>
    </div>
    <Container>
    <div class="">
        <ul class="list-none mt-4">
            {paginated.data.map((item) => (
                    <li class="mt-2">
                        <a href={`/article/${item.slug}`} title={item.title.rendered} class=" inline-flex"><i class="text-indigo-600 mt-1 me-2">
                            <svg class="h-4 w-4" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="currentColor" d="M4 11v2h12l-5.5 5.5l1.42 1.42L19.84 12l-7.92-7.92L10.5 5.5L16 11z"/></svg>
                        </i>{item.title.rendered}</a>
                    </li>
            ))}
        </ul>
    </div>

    <Pagination
            totalPages={paginated.totalPages}
            baseURL={`/articles`}
            currentPage={paginated.currentPage}
            client:idle
            previousText="Προηγούμενο"
            nextText="Επόμενο"
    />
    </Container>
</Layout>
