---
import {BaseService} from "@services/base.service";
import Pagination from "@components/pagination.svelte";
import {IWpGenericTaxonomy} from "@models/general";
import {arrayPaginator, IArrayPaginator} from "@helpers/paginate-array";
import {IGenericWpObject} from "@models/general";
import Layout from "@layouts/default.astro";
import {cloudinaryRawSettings} from "@helpers/cloudinary.helper";
import Container from '@components/container-with-shadow.astro';
import ImgContainer from '@components/header-with-rounded-image.astro';

export async function getStaticPaths() {
    const per_page = 12;
    const service = new BaseService();

    let allItems = await service.load(`seminar`);
    // exclude future items. They will be shown in the 1st page only
    allItems = allItems.filter((item: IGenericWpObject) => item.acf['completed']);

    const firstPage = arrayPaginator<IGenericWpObject>(allItems, 1, per_page);
    const all = [];

    for (let idx = 0; idx < firstPage.totalPages; idx++) {
        const paginated = arrayPaginator<IGenericWpObject>(allItems, idx+1, per_page);
        all.push({
            params: {
                page: idx === 0 ? undefined : (idx + 1).toString(),
            },
            props: {
                items: paginated.data,
                paginated,
                currentPage: idx === 0 ? undefined : (idx + 1)
            }
        });
    }

    return all;
}

const {items, paginated, currentPage}: { items: IGenericWpObject[], paginated: IArrayPaginator<IGenericWpObject> } = Astro.props;
const page = await new BaseService().getPostObjectByProperty('page', 'acf.template.slug','seminars') as IGenericWpObject;
const seo = {
    title: page.yoast_head_json.title,
    description: page.yoast_head_json.description,
}

const service = new BaseService();

let allItems = await service.load(`seminar`);
const futureItems = allItems.filter((item: IGenericWpObject) => !item.acf['completed'])
    .sort((a: IGenericWpObject, b: IGenericWpObject) => new Date(a.date - new Date(b.date)));
const showFuture = (currentPage === 1 || !currentPage);
---
<Layout {seo}>

<ImgContainer>
    <Fragment slot="title">{page.title.rendered}</Fragment>
    <span slot="image">
            <img
                    src={cloudinaryRawSettings(page?.featured_media?.source_url, 'c_limit,h_750,q_auto:best,w_1920/f_webp/dpr_auto')}
                    srcset={`
                       ${cloudinaryRawSettings(page?.featured_media?.source_url, 'c_limit,h_350,w_800/q_auto:best/dpr_auto/f_webp')} 800w,
                       ${cloudinaryRawSettings(page?.featured_media?.source_url, 'c_limit,h_550,w_1024/q_auto:best/dpr_auto/f_webp')} 1024w,
                       ${cloudinaryRawSettings(page?.featured_media?.source_url, 'c_limit,h_750,q_auto:best,w_1920/f_webp/dpr_auto')} 1920w
                       `}
                    sizes="(max-width: 1920px) 100vw, 1920px"
                    alt={page?.featured_media?.alt_text || page.title.rendered}
                    title={page?.featured_media?.title?.rendered ||page.title.rendered}
                    width="1920" height="750"
                    class="absolute inset-0 -z-10 h-full w-full object-cover">
    </span>
    {page.acf.short_description && (
    <span slot="description">{page.acf.short_description}</span>
    )}

</ImgContainer>

    <Container title={page.title.rendered}>
        <div class="my-4" set:html={page.content.rendered}></div>

        {futureItems.length > 0  && showFuture &&  (
            <h2 class="font-light text-[34px] tracking-[1px] leading-[54px] mb-2">Μελλοντικά Σεμινάρια</h2>
                <div class="grid grid-cols-1 lg:grid-cols-3 md:grid-cols-2 gap-[30px] my-4">
                    {futureItems.map((item) => (
                            <div class="group relative rounded-md shadow hover:shadow-lg dark:shadow-gray-800 duration-500 ease-in-out overflow-hidden">
                                <div class="relative overflow-hidden">
                                    <a href={`/seminar/${item.slug}`} title={item.title.rendered}>
                                        <img src={cloudinaryRawSettings(item.featured_media.source_url, 'c_thumb,g_faces:auto,h_180,q_auto:best,w_300')} class="group-hover:scale-110 duration-500 ease-in-out"
                                             alt={item.featured_media.alt_text || item.title.rendered}
                                             width="300" height="180" loading="lazy">

                                        <div class="absolute inset-0 bg-slate-900/50 opacity-0 group-hover:opacity-100 duration-500 ease-in-out"></div>

                                    </a>
                                </div>

                                <div class="content p-6 relative">
                                    <a href={`/seminar/${item.slug}`} title={item.title.rendered} class="text-lg font-medium block hover:text-indigo-600 duration-500 ease-in-out mt-2">
                                        {item.title.rendered}
                                    </a>

                                    <p class="text-slate-400 mt-3 mb-4">{item.acf.excerpt || ''}</p>

                                </div>

                            </div>

                    ))}
                </div>
        )}

        <h2 class="font-light text-[34px] tracking-[1px] leading-[54px] my-4">Προηγούμενα Σεμινάρια</h2>

        <div class="grid grid-cols-1 lg:grid-cols-3 md:grid-cols-2 gap-[30px]">
        {paginated.data.map((item) => (

                <div class="group relative rounded-md shadow hover:shadow-lg dark:shadow-gray-800 duration-500 ease-in-out overflow-hidden">
                    <div class="relative overflow-hidden">
                        <a href={`/seminar/${item.slug}`} title={item.title.rendered}>
                        <img src={cloudinaryRawSettings(item.featured_media.source_url, 'c_thumb,g_faces:auto,h_180,q_auto:best,w_300')} class="group-hover:scale-110 duration-500 ease-in-out"
                             alt={item.featured_media.alt_text || item.title.rendered}
                             width="300" height="180" loading="lazy">

                        <div class="absolute inset-0 bg-slate-900/50 opacity-0 group-hover:opacity-100 duration-500 ease-in-out"></div>

                        </a>
                    </div>

                    <div class="content p-6 relative">
                        <a href={`/seminar/${item.slug}`} title={item.title.rendered} class="text-lg font-medium block hover:text-indigo-600 duration-500 ease-in-out mt-2">
                            {item.title.rendered}
                        </a>

                                <p class="text-slate-400 mt-3 mb-4">{item.acf.excerpt || ''}</p>


                    </div>
                </div>
        ))}
        </div>

        <Pagination
                totalPages={paginated.totalPages}
                baseURL={`/seminars`}
                currentPage={paginated.currentPage}
                client:idle
                previousText="Προηγούμενο"
                nextText="Επόμενο"
        />
    </Container>






</Layout>
