---
import {IGenericWpObject} from "@models/general";
import Layout from '@layouts/default.astro';
import {BaseService} from "@services/base.service";
import type {IHomePage} from "@models/home";
import {IWpGenericTaxonomy} from "@models/general";
import {svgIcon} from "@helpers/general";
import {cloudinaryRawSettings} from "@helpers/cloudinary.helper";

import ArrowRightIcon from '@components/icons/arrow-right-icon.astro';
import FeaturedContent from '@components/home/featured-content.astro';
import FeaturedSeminars from '@components/home/featured-seminars.astro';

const allPages = await (new BaseService).load(`page`);
const home = allPages.find(page => page.slug === 'home') as IHomePage;
const service = new BaseService();

const allArticles = await service.load(`article`);
const allListings = await service.load(`listing`);
const allSeminars = await service.load(`seminar`);
const allCertifications = await service.load(`certification`);

const page = await service.getPostObjectByProperty('page', 'acf.template.slug','home') as IGenericWpObject;

const seo = {
    title: page.yoast_head_json.title,
    description: page.yoast_head_json.description,
    }
page.acf.featured_certifications = page.acf.featured_certifications.map(c => parseInt(c));
const certifications = allCertifications.filter(certification => page.acf.featured_certifications.includes(certification.id));
const seminars = allSeminars.filter(seminar => page.acf.seminars.includes(seminar.id));
const listings = allListings.filter(listing => page.acf.featured_listings.includes(listing.id));
const articles = allArticles
    .sort((a, b) => new Date(b.date).getTime() - new Date(a.date).getTime())
    .slice(0, parseInt(page.acf.latest_articles_number));

const certificationsPage = await service.getPostObjectByProperty('page', 'acf.template.slug','certified-techs') as IGenericWpObject;

---
<Layout {seo}>
    <section class="relative my-4 overflow-hidden">
        <div class="container relative md:mt-24 mt-16">
            <div class="grid md:grid-cols-12 grid-cols-1 items-center gap-[30px]">
                <div class="lg:col-span-5 md:col-span-6">
                    <div class="grid grid-cols-12 gap-6 items-center relative">
                        <div class="col-span-6">
                            <div class="grid grid-cols-1 gap-6">
                                <img src="https://res.cloudinary.com/www-cpt-gr/image/upload/e_improve,w_218,h_320,c_thumb,g_auto/v1712046914/cleaning/home/DSC00984.jpg" class="shadow rounded-md"
                                     alt="Επαγγελματικά σεμινάρια καθαρισμών"
                                     width="500"
                                     height="500"
                                     loading="lazy"
                                >
                                <img src="https://res.cloudinary.com/www-cpt-gr/image/upload/e_improve,w_218,h_320,c_thumb,g_auto/v1712046945/cleaning/home/DSC00921.jpg" class="shadow rounded-md"
                                     alt="Επαγγελματικά σεμινάρια καθαρισμών"
                                     width="500"
                                     height="500"
                                     loading="lazy">
                            </div>
                        </div>

                        <div class="col-span-6">
                            <div class="grid grid-cols-1 gap-6">
                                <img src="https://res.cloudinary.com/www-cpt-gr/image/upload/e_improve,w_218,h_320,c_thumb,g_auto/v1712046946/cleaning/home/DSC01012.jpg" class="shadow rounded-md"
                                     alt="Επαγγελματικά σεμινάρια καθαρισμών"
                                     width="500"
                                     height="500"
                                     loading="lazy">
                            </div>
                        </div>
                        <div class="overflow-hidden after:content-[''] after:absolute after:size-[512px] after:bg-indigo-600/5 after:top-0 after:-end-5 after:-z-1 after:rounded-full"></div>
                    </div>
                </div>

                <div class="lg:col-span-7 md:col-span-6">
                    <div class="lg:ms-5">
                        <h3 class="mb-6 md:text-3xl md:leading-normal text-2xl leading-normal font-semibold">Επαγγελματικά σεμινάρια<br>καθαρισμών</h3>

                        <p class="text-slate-400 max-w-xl">Start working with Tailwind CSS that can provide everything you need to generate awareness, drive traffic, connect. Dummy text is text that is used in the publishing industry or by web designers to occupy the space which will later be filled with 'real' content.</p>

                        <div class="mt-6">
                            <a href="/seminars" class="relative inline-flex gap-1.5 tracking-wide align-middle text-base text-center border-none after:content-[''] after:absolute after:h-px after:w-0 hover:after:w-full after:end-0 hover:after:end-auto after:bottom-0 after:start-0 after:duration-500 font-semibold text-indigo-600 after:bg-indigo-600 duration-500 ease-in-out">
                                Δείτε όλα τα σεμινάρια <ArrowRightIcon />
                            </a>
                        </div>
                    </div>
                </div>
            </div><!--end grid-->
        </div>
    </section>
    <section class="relative md:py-24 py-4 overflow-hidden  my-4">

        <FeaturedSeminars items={seminars}  />

    </section><!-- END FEATURED SEMINARS -->

    <div class="container relative my-4">
        <div class="grid md:grid-cols-12 grid-cols-1 items-center gap-[30px]">
            <div class="md:col-span-6">
                <div class="lg:me-8">
                    <img
                            src={cloudinaryRawSettings(certificationsPage?.featured_media?.source_url, 'c_limit,h_750,q_auto:best,w_1920/f_webp/dpr_auto')}
                            srcset={`
                       ${cloudinaryRawSettings(certificationsPage?.featured_media?.source_url, 'c_limit,h_350,w_800/q_auto:best/dpr_auto/f_webp')} 800w,
                       ${cloudinaryRawSettings(certificationsPage?.featured_media?.source_url, 'c_limit,h_550,w_1024/q_auto:best/dpr_auto/f_webp')} 1024w,
                       ${cloudinaryRawSettings(certificationsPage?.featured_media?.source_url, 'c_limit,h_750,q_auto:best,w_1920/f_webp/dpr_auto')} 1920w
                       `}
                            sizes="(max-width: 1920px) 100vw, 1920px"
                            alt={certificationsPage?.featured_media?.alt_text || certificationsPage.title.rendered}
                            title={certificationsPage?.featured_media?.title?.rendered ||certificationsPage.title.rendered}
                            width="1920" height="750" loading="lazy"
                            class="rounded-xl"
                    >
                </div>
            </div>

            <div class="md:col-span-6">
                <div class="lg:ms-5">

                    <h3 class="mb-4 md:text-3xl md:leading-normal text-2xl leading-normal font-semibold">Πιστοποιημένοι Τεχνικοί</h3>

                    <p class="text-slate-400 max-w-xl mb-6">
                        Some text on the matter
                    </p>

                    <a href="/certified" class="py-2 px-5 inline-block font-semibold tracking-wide border align-middle duration-500 text-base text-center bg-indigo-600/5 hover:bg-indigo-600 border-indigo-600/10 hover:border-indigo-600 text-indigo-600 hover:text-white rounded-full">
                        Όλοι οι Πιστοποιημένοι Τεχνικοί
                    </a>
                </div>
            </div>
        </div>
    </div>


    <section class="relative md:py-24 py-4 overflow-hidden bg-gray-100 my-4">
        <div class="container relative ">
            <FeaturedContent items={page.acf.featured_content}  />
        </div>
    </section><!-- END FEATURED CONTENT -->



    <div class="container relative md:mt-24 mt-16">


        <div class="grid md:grid-cols-12 grid-cols-1 pb-8 items-end">
            <div class="lg:col-span-8 md:col-span-6 md:text-start text-center">
                <h3 class="mb-4 md:text-3xl md:leading-normal text-2xl leading-normal font-semibold">Μικρές Αγγελίες</h3>
            </div>

            <div class="lg:col-span-4 md:col-span-6 md:text-end hidden md:block">
                <a href="/listings" class="inline-flex relative gap-2 font-semibold tracking-wide align-middle text-base text-center border-none after:content-[''] after:absolute after:h-px after:w-0 hover:after:w-full after:end-0 hover:after:end-auto after:bottom-0 after:start-0 after:duration-500 text-slate-400 hover:text-indigo-600 after:bg-indigo-600 duration-500 ease-in-out">
                    Όλες οι Αγγελίες

                    <ArrowRightIcon classes="w-6 h-6"></ArrowRightIcon>
                </a>
            </div>
        </div>

        <div class="grid grid-cols-1 gap-[30px]">
            {listings.map(item => (
                    <div class="blog relative rounded-md shadow dark:shadow-gray-800 overflow-hidden">
                        <div class="lg:flex relative">
                            <div class="relative md:shrink-0">
                                <img class="h-full w-full object-cover lg:w-52 lg:h-56"
                                     src={cloudinaryRawSettings(item?.featured_media?.source_url, 'c_limit,h_550,w_1024/q_auto:best/dpr_auto/f_webp')}
                                     alt={item.title.rendered}>
                            </div>
                            <div class="p-6 flex flex-col lg:h-56 justify-center">
                                <a href={`/listing/${item.slug}`} class="title h5 underline-animation text-lg font-medium hover:text-indigo-600 duration-500 ease-in-out">
                                    {item.title.rendered}</a>
                                <div class="my-auto">
                                    <p class="text-slate-400 mt-3">{item.acf.short_description}</p>
                                </div>

                                <div class="mt-4">
                                    <a href={`/listing/${item.slug}`} class="relative inline-block tracking-wide align-middle text-base text-center border-none after:content-[''] after:absolute after:h-px after:w-0 hover:after:w-full after:end-0 hover:after:end-auto after:bottom-0 after:start-0 after:duration-500 font-normal hover:text-indigo-600 after:bg-indigo-600 duration-500 ease-in-out">
                                        Διαβάστε περισσότερα
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
            ))}
        </div>
    </div><!-- END LISTINGS -->

    <section class="relative md:py-24 py-16 bg-gray-100 my-4">
        <div class="container relative ">
            <h3 class="mb-4 md:text-3xl md:leading-normal text-2xl leading-normal font-semibold">Εγκυκλοπαίδεια Καθαρισμού</h3>
            <div class="relative overflow-x-auto block w-full bg-white dark:bg-slate-900 shadow dark:shadow-gray-800 rounded-md">
                <table class="w-full text-start">


                    <tbody>
                    {articles.map(item => (
                            <tr class="border-t border-gray-100">
                                <td class="p-4 inline-flex text-primary gap-2">
                                    <ArrowRightIcon />
                                    <a href={`/article/${item.slug}`}  title={item.title.rendered}
                                       class="relative inline-block tracking-wide align-middle text-base text-center border-none after:content-[''] after:absolute after:h-px after:w-0 hover:after:w-full after:end-0 hover:after:end-auto after:bottom-0 after:start-0 after:duration-500 font-semibold text-indigo-600 after:bg-indigo-600 duration-500 ease-in-out">{item.title.rendered}</a></td>
                            </tr>
                    ))}
                    </tbody>
                </table>
            </div>
        </div>
    </section><!-- END ARTICLES -->








<!--
<section class="relative md:py-24 py-16 bg-gray-100 my-4">
    <div class="container relative ">
        <div class="grid grid-cols-1 pb-8 text-center">
            <h3 class="mb-6 md:text-3xl text-2xl md:leading-normal leading-normal font-semibold">Our Certifications</h3>

            <p class="text-slate-400 max-w-xl mx-auto">Certifications CTA Text</p>
        </div>&lt;!&ndash;end grid&ndash;&gt;

        <div class="grid md:grid-cols-3 grid-cols-1 mt-8 gap-[30px]">
            {certifications.map((item: IWpGenericTaxonomy) => (
                    <div class="group px-6 py-8 bg-white dark:bg-slate-900 shadow hover:shadow-lg dark:hover:shadow-gray-800 duration-500 ease-in-out border-t-[3px] border-gray-100 dark:border-gray-700 hover:border-indigo-600 dark:hover:border-indigo-600">
                        <i class="uil uil-building text-3xl text-indigo-600"></i>

                        <div class="content mt-6 text-center">
                            <a href={`/certification/${item.slug}`} title={item.name} class="text-xl font-semibold hover:text-indigo-600 duration-500 ease-in-out">{item.name}</a>
                            <p class="text-slate-400 mt-4">
                                <a href={`/certification/${item.slug}`} title={item.name} class="inline-flex justify-center text-center">
                                    <Fragment set:html={svgIcon(item.acf.icon, 'h-32 w-32')}></Fragment>
                                </a>
                            </p>

                        </div>
                    </div>


            ))}
        </div>&lt;!&ndash;end grid&ndash;&gt;
    </div>
</section>
-->










</Layout>
