---
import {BaseService} from "@services/base.service";
import {IGenericWpObject} from "@models/general";
import {cloudinaryRawSettings} from "@helpers/cloudinary.helper";
const service = new BaseService();
const {items} = Astro.props as {items: IGenericWpObject[]};
const postTypes = items
    .map(item => item.post_type);
let postObjects = [];


for (const postType of new Set(postTypes)) {
    const all = await service.load(postType);
    postObjects = postObjects.concat(all.filter(i => items.find(t => t.ID === i.id) ));

}
---
{postObjects.map(item => (
<div class="grid md:grid-cols-12 grid-cols-1 items-center gap-[30px]">

    <div class="md:col-span-6">
        <div class="relative lg:me-8">
            <a href={`/${item.type}/${item.slug}`} title={item.title.rendered}>
            <img
                    src={cloudinaryRawSettings(item?.featured_media?.source_url, 'c_limit,h_750,q_auto:best,w_1920/f_webp/dpr_auto')}
                    srcset={`
                       ${cloudinaryRawSettings(item?.featured_media?.source_url, 'c_limit,h_350,w_800/q_auto:best/dpr_auto/f_webp')} 800w,
                       ${cloudinaryRawSettings(item?.featured_media?.source_url, 'c_limit,h_550,w_1024/q_auto:best/dpr_auto/f_webp')} 1024w,
                       ${cloudinaryRawSettings(item?.featured_media?.source_url, 'c_limit,h_750,q_auto:best,w_1920/f_webp/dpr_auto')} 1920w
                       `}
                    sizes="(max-width: 1920px) 100vw, 1920px"
                    alt={item?.featured_media?.alt_text || item.title.rendered}
                    title={item?.featured_media?.title?.rendered ||item.title.rendered}
                    width="1920" height="750"
                    class="rounded-xl"
            >

            </a>
        </div>
    </div><!--end col-->

    <div class="md:col-span-6">
        <div class="lg:ms-5">

            <h4 class="mb-4 md:text-3xl md:leading-normal text-2xl leading-normal font-semibold">{item.title.rendered}</h4>
            {item.acf?.short_description && (
            <p class="max-w-xl mb-6">{item.acf?.short_description}</p>
            )}
            <a href={`/${item.type}/${item.slug}`} class="py-2 px-5 inline-block font-semibold tracking-wide border align-middle duration-500 text-base text-center bg-indigo-600/5 hover:bg-indigo-600 border-indigo-600/10 hover:border-indigo-600 text-indigo-600 hover:text-white rounded-md">
                Διαβάστε περισσότερα
            </a>
        </div>
    </div><!--end col-->

</div>
    ))}
