---
import {BaseService} from "@services/base.service";
import type {IWPGenericMenu} from "@models/menus";
import {stripDomainFromWpUrl} from "@helpers/menus";
import {svgIcon} from "@helpers/general";
import ChevronRight from '@components/icons/chevron-right.astro';

const service = new BaseService();
const allMenus = await service.load('all_menus') as IWPGenericMenu[];
const footerMenu = allMenus.find(menu => menu.slug === 'footer-menu') as IWPGenericMenu;
const logo = await service.getAcfFieldValue('logo')
---
<footer class="my-4 pt-6 footer bg-dark-footer relative text-gray-200">


    <div class="relative w-full max-w-7xl mx-auto px-5  z-20">

        <div class="flex flex-wrap md:text-left text-center">
            <div class="lg:w-1/4 md:w-1/2 w-full px-4">

                <ul class="font-sans space-y-2 mb-10">
                    {footerMenu.items.map(item => (
                    <li>
                        <a href={stripDomainFromWpUrl(item)} class="inline-flex text-sm underline-offset-4 text-muted-300/60 hover:text-white hover:underline dark:text-muted-400 dark:hover:text-muted-100">
                            <ChevronRight />
                            {item.title}
                        </a>
                    </li>
                    ))}
                </ul>
            </div>


        </div>
    </div>

    <div class="relative  z-20">
        <div class=" w-full max-w-7xl mx-auto px-5 py-6 flex items-center sm:flex-row flex-col">
            <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
<span set:html={svgIcon(logo, 'w-32 h-32')}></span>

            </a>
            <p class="text-sm text-muted-400 sm:ml-6 sm:mt-0 mt-4">
               <span class="font-bold">© {new Date().getFullYear()}</span>.    <a href="https://businesslink-hq.com.cy" class="hover:underline"
                   title="Handcrafted by Businesslink HQ" aria-label="Handcrafted by Businesslink HQ">Handcrafted by Businesslink HQ</a>
            </p>

        </div>
    </div>
</footer>
