---
import {BaseService} from "@services/base.service";
import {IGenericWpObject} from "@models/general";
import Layout from "@layouts/default.astro";
import Container from '@components/container-with-shadow.astro';
import ImgContainer from '@components/header-with-rounded-image.astro';
import {cloudinaryUrlFromRaw} from "@/helpers/cloudinary.helper";
interface Props {
    item: IGenericWpObject;
}

export async function getStaticPaths() {
    const items = await new BaseService().load('page');
    let all = [];

    for (let idx = 0; idx < items.length; idx++) {
        all.push({
            params: {
                slug: items[idx].slug
            },
            props: {
                item: items[idx]
            }
        });
    }

    return all;
}

const {item}: Props = Astro.props;

const seo = {
    title: item?.yoast_head_json?.title || item.title.rendered,
    description: item?.yoast_head_json?.description || item.title.rendered,
}
---
<Layout {seo}>
    <ImgContainer>
        <Fragment slot="title">{item.title.rendered}</Fragment>
        <span slot="image">
            <img
                    src={cloudinaryUrlFromRaw(item?.featured_media, 'c_limit,h_750,q_auto:best,w_1920/f_webp/dpr_auto')}
                    srcset={`
                       ${cloudinaryUrlFromRaw(item?.featured_media, 'c_limit,h_350,w_800/q_auto:best/dpr_auto/f_webp')} 800w,
                       ${cloudinaryUrlFromRaw(item?.featured_media, 'c_limit,h_550,w_1024/q_auto:best/dpr_auto/f_webp')} 1024w,
                       ${cloudinaryUrlFromRaw(item?.featured_media, 'c_limit,h_750,q_auto:best,w_1920/f_webp/dpr_auto')} 1920w
                       `}
                    sizes="(max-width: 1920px) 100vw, 1920px"
                    alt={item?.featured_media?.alt_text || item.title.rendered}
                    title={item?.featured_media?.title?.rendered ||item.title.rendered}
                    width="1920" height="750"
                    class="absolute inset-0 -z-10 h-full w-full object-cover">
    </span>

    </ImgContainer>
    <Container>
        <div class="prose max-w-none" set:html={item.content.rendered} />
    </Container>
</Layout>
